.section__container-2 {
  padding: 20px;
}

.table-responsive {
  overflow-x: auto;
}

.profile-history-container {
  background: #DCDBDB;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.tab-history-profile {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.tab-history-profile.active {
  color: var(--primary-color);;
  border-bottom: 4px solid var(--primary-color);;
  font-weight: 900;
}

.left-section {
  width: 100%;
}

.right-section {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .left-section {
    width: 30%;
  }

  .right-section {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .section__container-2 {
    padding: 10px;
  }
  
}

@media (max-width: 500px) {
    .profile-history-container {
      padding: 5px;
    }
    .tab-history-profile {
        padding: 5px;
    }
  }
