.section__container-2 {
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
  background-color: #f9f9f9;
}

.tab.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.table-responsive {
  overflow-x: auto;
}

.profile-history-container {
  background: #eff3ff;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}

.tab-history-profile {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.tab-history-profile.active {
  color: #2e5cfd;
  border-bottom: 4px solid #2e5cfd;
  font-weight: 900;
}

@media (max-width: 768px) {
  .section__container-2 {
    padding: 10px;
  }

  .tabs {
    flex-direction: column;
  }

  .tab {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
    .profile-history-container {
      padding: 5px;
    }
    .tab-history-profile {
        padding: 5px;
    }
  }
