@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ef7c00;
  --primary-color-dark: hsl(22, 100%, 50%);
  --primary-color-light: #e5f1f4;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --max-width-1400: 1400px;
  --max-width-1200: 1200px;
  --max-width-900: 900px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

tr {
  text-align: center;
}

span.ant-table-column-title {
  text-align: center;
}

th.ant-table-cell {
  background: #dcdbdb !important;
  font-weight: 600 !important;
}

th.ant-table-cell {
  text-align: center !important;
}

.icon-orange {
  color: var(--primary-color);
}

.selected-img {
  border: 6px solid var(--primary-color);
}

.section__container {
  max-width: var(--max-width-1400);
  margin: auto;
  padding: 5rem 1rem;
}

.section__container-2 {
  max-width: var(--max-width-1400);
  margin: auto;
  padding: 2rem 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: var(--max-width-1200);
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 3rem;
}

.link a {
  font-weight: 500;
  color: var(--text-dark);
}

.link a:hover {
  color: var(--primary-color);
}

.nav__logo a {
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.nav__logo a span {
  color: var(--primary-color);
}

.nav__icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.nav__icons span a {
  font-size: 1.25rem;
  color: var(--text-dark);
}

.nav__icons span a:hover {
  color: var(--primary-color);
}

.header__container {
  min-height: 650px;
  background-color: var(--primary-color-light);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.header__content {
  max-width: 600px;
  margin-left: auto;
}

.header__content h4 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.header__content h1 {
  font-size: 4rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer__container {
  max-width: var(--max-width-1200);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer__container h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--text-dark);
}

.footer__col p {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__col p span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.footer__col a {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__col a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-light);
  border-top: 2px solid var(--extra-light);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #2caeba;
}

.program-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #2caeba;
}

.home-banner {
  text-align: left;
  padding: 0 3rem;
}

.home-banner,
.program-banner h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-btn-wrapper {
  display: inline-flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.home-btn {
  border: 2px solid #fff;
  background: transparent;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}

.fixed-nav-bar {
  background-color: #d9d9d9;
}

.card-img {
  width: 220px;
  height: 140px;
}

.btn-brand {
  border: 2px solid #000000;
  background: transparent;
  padding: 8px 12px;
  color: #000000;
  cursor: pointer;
  border-radius: 2px;
  width: 100%;
  align-items: center;
  border-radius: 5px;
}

.program-desc {
  text-align: center;
  margin-top: 1rem;
  padding: 10px;
}

.dashboard-layout {
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  margin: 20px 10px 10px 10px;
}

.dashboard-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-back {
  font-weight: 600;
}

.nav__icons span a.dropdown-items {
  font-size: 16px;
}

.dropdown-items:hover {
  color: var(--primary-color);
}

.program-title {
}

@media screen and (min-width: 768px) {
  .home {
    background: linear-gradient(rgba(34, 36, 36, 0.7), rgba(0, 0, 0, 0.2)),
      url("./assets/images/banner.png") center/cover no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem 0 0 3rem;
  }
  .home-banner {
    padding: 0;
  }

  .program-banner {
    background: linear-gradient(rgba(34, 36, 36, 0.7), rgba(0, 0, 0, 0.2)),
      url("./assets/images/programBanner.png") center/cover no-repeat;
    position: relative;
  }

  .program-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .program-desc {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .dashboard-layout {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: var(--max-width-1400);
    margin: auto;
    margin-top: 40px;
  }

  .dashboard-title {
    font-size: 20px;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__content {
    margin: auto;
    text-align: center;
  }

  .header__content h1 {
    font-size: 2.5rem;
  }
  .footer__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
